# This is a comment, to show how #-prefixed lines are ignored.
# It is possible to specify requirements as plain names.

tensorflow
databricks_genai
transformers
tf-keras
evaluate
transformers[torch]
deepspeed>=0.15.4
hf_transfer